@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  position: relative;
  width: 50%;
  background: white;
}

input,
button {
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

input[type="search"] {
  outline: 0;
  width: 100%;
  background: #2c5364;
  border: 2px white solid;
  color: white;
  padding: 0 1.6rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width;
  z-index: 1;
  position: relative;
}
button {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: white;
  color: #2c5364;
}
input:not(:placeholder-shown) {
  width: calc(100% - 6rem);
}

input:not(:placeholder-shown) + button {
  display: block;
}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.searchbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 30px;
  padding: 55px 10px 0px 10px;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 4.4rem;
  color: white;
  text-align: center;
  line-height: 54px;
}

.tagline {
  color: whitesmoke;
  font-size: 24px;
  font-family: "Satisfy", cursive;
  text-align: center;
  margin-bottom: 25px;
}

.categories {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: whitesmoke;
  padding-top: 15px;
  padding-left: 15px;
  /* margin-bottom: 20px; */
  cursor: pointer;
  text-decoration: underline;
  float: right;
}
